//mulish 300
@font-face
	font-family: "Mulish light";
	// url("/font/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"),
	src: url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap') format("truetype");

//poppins 300
@font-face
	font-family: "Poppins light";
	// url("/font/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"),
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap') format("truetype");

//poppins 500
@font-face
	font-family: "Poppins regular";
	// url("/font/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"),
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap') format("truetype");

//poppins 600
@font-face
	font-family: "Poppins semi-bold";
	// url("/font/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"),
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap') format("truetype");

//poppins 700
@font-face
	font-family: "Poppins bold";
	// url("/font/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"),
	src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap') format("truetype");
