@require "./parts/reset.css"
@require "./parts/constants.styl"
@require "./parts/fontfaces.styl"
@require "./parts/keyframes.styl"

@require "./review-card.styl"

body
	font-family "Poppins regular", sans-serif;
a
	text-decoration: none
a:visited
	color: #fff


.get-in-touch-button
	background-color: braveOrange
	border-radius: 15%
	padding: 10px
	text-decoration: none
	color: white
.get-in-touch-button::before
	// background-image: url('../resources/images/')
#reviews::before
	// background-image: url('../resources/images/')

// JS alert
#no-js-alert
	position: fixed
	display: block
	bottom: 0
	min-width: 100vw
	text-align: center
	padding: 1em
	background-color: rgb(218, 22, 22)
	color: white
	animation: show-then-retract 2s ease-in 5s 1 forwards

// top nav
#sticky-nav
	position: sticky
	display: flex
	flex-flow: row nowrap
	justify-content: space-between
	padding: 0 1.25em
	align-items: center
	min-height: 5vh
	background-color: rgba(28, 28, 28, 0.88)
	color: #fff
#sticky-nav img
	border-radius: 50%
#sticky-nav ul
	display: flex
	flex-direction: row
	gap: 25px
#sticky-nav ul li:last-child
	outline: 2px solid #fff
	outline-offset: 6px;
	border-radius: 9px