@import "./partials/reset.css";
@-moz-keyframes show-then-retract {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}
@-webkit-keyframes show-then-retract {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}
@-o-keyframes show-then-retract {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}
@keyframes show-then-retract {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100px);
  }
}
@font-face {
  font-family: "Mulish";
  src: url("/font/Mulish/Mulish-VariableFont_wght.ttf") format("truetype"), url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap") format("truetype");
}
body {
  font-family: "Mulish", sans-serif;
}
.leftAligned {
  float: right;
}
.cardContainer {
  padding: 2px;
  max-width: 50%;
}
.get-in-touch-button {
  background-color: #fb542b;
  border-radius: 15%;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}
#no-js-alert {
  position: fixed;
  display: block;
  bottom: 0;
  min-width: 100vw;
  text-align: center;
  padding: 1em;
  background-color: #da1616;
  color: #fff;
  animation: show-then-retract 2s ease-in 5s 1 forwards;
}
#sticky-nav {
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1.25em;
  align-items: center;
  min-height: 5vh;
  background-color: rgba(28,28,28,0.88);
}
#sticky-nav img {
  border-radius: 50%;
}
#sticky-nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
#sticky-nav ul li:last-child {
  border: 1px solid #fff;
  border-radius: 9px;
}
