@require "./parts/reset.css"
@require "./parts/constants.styl"
@require "./parts/fontfaces.styl"
@require "./parts/keyframes.styl"

@require "./review-card.styl"
@require "./skill-card.styl"


body
	font-family "Poppins regular", sans-serif

a
	text-decoration none
	color pureWhite
	&:visited
		color pureWhite

.colored-background
	color pureWhite


.get-in-touch-button
	display inline-block
	background-color braveOrange
	border-radius 20px
	padding 10px
	text-decoration none
	color pureWhite
	&::before
		content '​'
		display inline-block
		width 50%
		min-height 100%
		background-image url('../img/svg/logo.svg')
		background-repeat no-repeat


// JS alert
#no-js-alert
	display block
	position fixed
	bottom 0
	min-width 100vw
	text-align center
	padding 1em
	background-color rgb(224, 38, 38)
	color pureWhite
	animation show-then-retract 2s ease-in 5s 1 forwards
	z-index 10


// top nav
#nav
	position sticky
	top 0
	float left
	width 100%
	display flex
	justify-content space-between
	align-items center
	background-color rgba(28, 28, 28, 0.88)
	color pureWhite
	font-size .8em
	max-height navBarHeight
	& img
		margin-left 1.25em
		border-radius 50%
	& ul
		position absolute
		left 5%
		display flex
		flex-direction column
		gap 25px
		box-shadow 0 4px 0 braveOrange inset // "outline top"
		min-width 80%
		background-color #000
		transform translateY(59%)
		height 0
		overflow hidden
		transition-property height, padding
		transition-duration .1s
		& li:last-child
			outline 1px solid pureWhite
			outline-offset 7px;
			border-radius 9px
		&.opened
			height initial
			padding 5%
	& .burger-menu
		margin-right 1.25em
		background none
		border none
		background-image url('/img/burger.svg')
		background-size contain
		min-width 32px
		min-height 32px
		

// mobile
@media(min-width: 980px)
	#nav
		min-height 10vh
		& ul
			margin-right 1.25em
			position initial
			flex-direction row
			box-shadow none
			min-width initial
			background none
			transform none
			height initial
			overflow initial
		& .burger-menu
			display none

// //mobile with desktop hero graphic
// @media(min-width: 768px)


// //mobile with desktop full hero graphic
// @media(min-width: 800px)


// // desktop but bigger font
// @media(min-width: 1440px)


// header
header
	padding-top sum(navBarHeight 15px)
	margin-bottom 400px
	background linear-gradient(93.82deg, #542FA7 2.35%, #B2226D 88.4%);
	text-align center
// &::after
// 	display block
// 	width 100%
// 	height 100%
// 	content ''
	& h1
		font-size 30px
		font-weight 500
		color pureWhite
		padding-top 15px
	& #sub-h1
		margin-top 20px
	& .get-in-touch-button
		margin-top 25px
#small-message
	margin-top 5px
	line-height 2.2em
	font-family "Mulish light", sans-serif
	font-size 6.5pt
#hero-graphic
	margin-top 30px
	width 70%
	height auto

#video
	text-align center
	margin-bottom 500px

//skills
#skills-section
	display flex
	flex-direction column
	gap 64px

// reviews and faq
#page-bottom
	padding-top 320px
	background #202020
	padding-bottom 130px
#reviews
	display flex
	flex-flow column nowrap
	gap 60px
	margin-bottom 200px
#faq
	margin auto
	max-width 60%
	border-top 2px solid rgba(255, 255, 255, .2)
	& li
		min-height 34px
		border-bottom 2px solid rgba(255, 255, 255, .2)
		vertical-align middle
		display flex
		flex-direction column
		justify-content center
		cursor pointer
		& p
			min-height 0
			max-height 120px
			transition min-height .2s ease-out
			overflow hidden
			display flex
			flex-direction column
			justify-content center
			cursor initial
			&.unrolled
				min-height 120px

// footer
footer
	padding 60px 0 50px
	background #2C2C34
	display flex
	justify-content center
	gap 60px
	& address
		margin-bottom 20px
	& select
		background #1D2029
		border 1px solid #5E6175
		color braveDarker
		border-radius 5px
		padding 6px
		padding-left 12px
		font-size 7.5pt
		min-width 75%