@require "./parts/reset.css"
@require "./parts/constants.styl"
@require "./parts/fontfaces.styl"
@require "./parts/keyframes.styl"

@require "./review-card.styl"


body
	font-family "Poppins regular", sans-serif;
a
	text-decoration none
	color pureWhite
a:visited
	color pureWhite
.colored-background
	color pureWhite


.get-in-touch-button
	display inline-block
	background-color braveOrange
	border-radius 20px
	padding 10px
	text-decoration none
	color pureWhite
.get-in-touch-button::before
	content '​'
	display inline-block
	width 50%
	min-height 100%
	background-image url('../img/svg/logo.svg')
	background-repeat no-repeat


// JS alert
#no-js-alert
	display block
	position fixed
	bottom 0
	min-width 100vw
	text-align center
	padding 1em
	background-color rgb(224, 38, 38)
	color pureWhite
	animation show-then-retract 2s ease-in 5s 1 forwards
	z-index 10


// top nav
#sticky-nav
	position sticky
	top 0
	display flex
	flex-flow row nowrap
	justify-content space-between
	padding 0 1.25em
	align-items center
	min-height 5vh
	background-color rgba(28, 28, 28, 0.88)
	color pureWhite
	font-size .8em
#sticky-nav img
	border-radius 50%
#sticky-nav ul
	display flex
	flex-direction row
	gap 25px
#sticky-nav ul li:last-child
	outline 1px solid pureWhite
	outline-offset 7px;
	border-radius 9px


// header
header
	background linear-gradient(93.82deg, #542FA7 2.35%, #B2226D 88.4%);
	text-align center
// header::after
// 	display block
// 	width 100%
// 	height 100%
// 	content ''

header h1
	font-size 30px
	font-weight 500
	color pureWhite
	margin-top 15px
header #sub-h1
	margin-top 20px
header #sub-h1
	margin-top 20px
header .get-in-touch-button
	margin-top 25px
#small-message
	margin-top 5px
	line-height 2.2em
	font-family "Mulish light", sans-serif
	font-size 6.5pt
#hero-graphic
	margin-top 30px
	width 70%
	height auto


// reviews
#reviews
	display flex
	flex-flow column nowrap
	gap 60px
#faq
	margin auto
	max-width 60%
	border-top 2px solid rgba(255, 255, 255, .2)
#faq li
	min-height 68px
	border-bottom 2px solid rgba(255, 255, 255, .2)
	vertical-align middle
	display flex
	flex-flow column nowrap
	justify-content center
#faq li p
	overflow hidden
	display flex
	flex-direction column
	justify-content center

// footer
footer
	margin-top 60px
	background #2C2C34
	display flex
	justify-content center
	gap 60px
footer address
	margin-bottom 20px
footer select
	background #1D2029
	border 1px solid #5E6175
	color braveDarker
	border-radius 5px
	padding 6px
	padding-left 12px
	font-size 7.5pt
	min-width 75%