include includes/_bullet-card.pug
doctype
html(lang='en')
	head
		meta(charset='utf-8', author='louis', keywords='CV worker hire belgium BE beriot web developer designer bilingual french français')
		title C.V. de Louis Bériot
		link(rel='stylesheet', href='/style/main.css')
	body
	mixin 
		p= name