.skill-card
	margin auto
	max-width 60%
	display flex
	gap 20px //random value
	justify-content space-around
.skill-card img
	max-width 40%
// .skill-card:nth-child(even) img
// 	text-align left
.skill-card div
	display flex
	flex-direction column
.skill-card div div
	color braveBlue
	font-size 8.5pt
.skill-card div h3
	font-family "Poppins bold", sans-serif
	font-weight 700
	color braveBold
	font-size 12pt
.skill-card div h3 sub
	font-size 8pt
	font-family "Poppins semi-bold", sans-serif
	font-weight 600
.skill-card div p
	font-size 7.6pt
	font-family "Poppins light", sans-serif
	font-weight 300
	color braveBold
	line-height 210%
.skill-card div a
	font-size 6pt
	font-family "Poppins semi-bold", sans-serif
	font-weight 600
	color braveBlue
// .skill-card div a::after
// 	background-image url('/img/card_link_arrow.svg')